/* Messenger */
.messenger-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
}
.messenger-header{
    display: flex;
    height: 84px;
    border-bottom: 1px solid #ccc;
}
.messenger-header-name{
    margin-left: 12px;
}
.messenger-messages-container{
    flex: 1;
    padding: 8px;
    overflow:hidden;
}

.messenger-input-container{
    padding: 12px;
    border-top: 1px solid #ccc;
    height: 76px;
}
.messenger-input-form{
    display: flex;
    border-radius: 24px;
    border: 1px solid #ccc;
    padding: 4px;
    padding-right: 8px;
}
.messenger-input-text{
    flex:1;
    padding: 4px;
    outline: none;
    border:none;
}
.messenger-input-send{
    /* background: #673ba4; */
   /*  background:#8658bd; */
    background:#4a4a4a;
    color:#ffffff   
}


/*Messages*/
.message-container{
    display: flex;
    margin: 4px;
}
.message{
    max-width: 248px; 
    padding: 12px;
    border-radius: 20px;
    word-break: break-word;
}

.sent{
    background: #4a4a4a;
    color: white;
}

.received{
    background:#ececec;
   // border:1px solid #c5a5a5;
}

.attach-file-icon{
    color:#ccc;
    transform:rotate(25deg);
}

.attach-file-icon:hover{
    color:#4a4a4a;
}

