/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Segoe UI', 'Roboto',sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
  
}
body{
    background: #e5e5e5;
}
.mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 0 ;
}
.mat-expansion-panel {
    border-radius: 0 !important;
    background: none;
}
