<div class="messenger-container">
    <div class="messenger-header">
        <h1 class="messenger-header-name">General</h1>
    </div>
    <scrollbar-viewport class="messenger-messages-container">
            <div *ngFor="let message of messages" class="message-container"
                [style.justify-content]="message.senderId === senderId ? 'flex-end' : null">
                <mat-card class="message" [ngClass]="message.senderId === senderId ? 'sent' : 'received'">
                    {{message.content}}</mat-card>
            </div>
    </scrollbar-viewport>
    <div class="messenger-input-container">
        <form class=messenger-input-form>
            <input class="messenger-input-text" autocomplete="off" type="text" name="messageInput"
                [(ngModel)]="messageInput" placeholder="Type a message...">
            <button mat-icon-button class="messenger-input-send" (click)="sendMessage('username')" type="submit">
                <mat-icon  fontSet="material-icons-round">send</mat-icon>
            </button>
        </form>
    </div>
</div>