/* Messenger */
.messenger-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

}
.messenger-header{
    display: flex;
    height: 84px;
    border-bottom: 1px solid #e7e7e7;
}
.messenger-header-name{
    padding: 4px;
    margin-left: 12px;
}
.messenger-messages-container{
    flex: 1;
    padding: 8px;
    overflow:hidden;
    background-color: #fafafa;
}

.messenger-input-container{
    padding: 12px;
    border-top: 1px solid #e7e7e7;
}
.messenger-input-form{
    display: flex;
    border-radius: 24px;
    border: 1px solid #e7e7e7;
    padding: 4px;
    padding-right: 8px;
    padding-left: 20px;
}
.messenger-input-text{
    flex:1;
    padding: 4px;
    outline: none;
    border:none;
}
.messenger-input-send{
    /* background: #673ba4; */
   /*  background:#8658bd; */
    background:#4a4a4a;
    color:#ffffff   
}


/*Messages*/
.message-container{
    display: flex;
    margin: 4px;
}
.message{
    max-width: 248px; 
    padding: 12px;
    border-radius: 20px;
    word-break: break-word;
}

.sent{
 /*    background: #673ba4; */
  /*   background:#8658bd; */
    background: #4a4a4a;
    color: white;
}

.received{
    background:#0d47a1;
}

