<div class="messenger-container">
    <div class="messenger-header">
        <h1>Name</h1>
    </div>
    <div class="messenger-messages">
        <div *ngFor="let message of messages" class = "message-container">
            <div class = "message">{{message.content}}</div>
        </div>
    </div>
    <div class="messenger-input">
        <form>
            <input type="text" name="messageInput" [(ngModel)]="messageInput">
            <button (click)="sendMessage('username')" type="submit">Send</button>
        </form>
    </div>
</div>