<div class="channels-container">

  <div class="channels-search-container">
    <form class=channels-search-form>
      <mat-icon fontSet="material-icons-round">search</mat-icon>
      <input class="channels-search-text" autocomplete="off" type="text" name="messageInput"
        placeholder="Find a conversation">
    </form>
  </div>

  <div class="channels-list-container">
    <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
      <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
        Channels
      </mat-expansion-panel-header>
      <div class="channels-list-item">General</div>
    </mat-expansion-panel>
  </div>
</div>