.channels-container{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* height: 100%; */
    width: 100%;
    background: white;
    border-right: 1px solid #ccc;
}

.channels-header{
    display: flex;
    height: 84px;
    border-bottom: 1px solid #e7e7e7;
    background: #ffffff;
}

.channels-header-title{
    padding:4px;
}
.channels-list-container{
    flex:1;
    background:#efefef;
}
.channels-list-header{
    padding-left: 8px;
}
.channels-list-item{
/*     border: solid 1px #ccc; */
    padding: 20px 8px;
/*     border-radius: 4px; */
    background: #ffffff;
    font-size: 16px;
}
mat-expansion-panel-header {
    padding-left: 8px;
    font-size: 18px;
    -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
        -o-user-select: none;
           user-select: none;
}
mat-expansion-panel{
    margin:4px;
    -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
        -o-user-select: none;
           user-select: none;
}

.channels-search-container{
    padding: 8px;
    height: 84px;
    border-bottom: 1px solid #ccc;
}
.channels-search-form{
    display: flex;
    border-radius: 12px;
    position: relative;
    border: 1px solid #e7e7e7;
    top: 20px;
}
.channels-search-text{
    flex:1;
    outline: none;
    border:none;
    background: none;
}




