.chat-container{
    display:flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 1048px;
}
.chat-wrapper{
    display: flex;
    flex: 1;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.chat-channels-container{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}
chat-channels{
    display: flex;
    flex: 1;
}
chat-messenger{
    position: relative;
    flex:3;
}

chat-user{
display: flex;
position: relative;
}

/* chat-user{
    background: #e5e5e5;
    height:76px;
    border-top:1px solid #ccc;
    border-right:1px solid #ccc
} */