.channels-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #f5f5f5;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.channels-header{
    display: flex;
    height: 84px;
    border-bottom: 1px solid #e7e7e7;
    background: #ffffff;
}

.channels-header-title{
    padding:4px;
}
.channels-list-header{
    padding: 4px;
    margin-bottom: 4px;
}

.channels-list-item{
    border: solid 1px #ccc;
    padding: 20px 10px;
    border-radius: 4px;
    background: #ffffff;
}